#define APSTUDIO_READONLY_SYMBOLS

#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#undef APSTUDIO_HIDDEN_SYMBOLS

#include <winres.h>
#include "version.h"

#ifdef __MINGW32__
#include <winuser.h>
#endif // __MINGW32__

#undef APSTUDIO_READONLY_SYMBOLS

#ifdef __MINGW32__
APP_MANIFEST RT_MANIFEST "osinfo.manifest"
#endif // __MINGW32__

// Version Information
VS_VERSION_INFO VERSIONINFO
 FILEVERSION MAJOR_VERSION, MINOR_VERSION, BUILD_VERSION
 PRODUCTVERSION MAJOR_VERSION, MINOR_VERSION, BUILD_VERSION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK // 0x0000003F
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG // 0x00000001L // Debug build
#else
 FILEFLAGS VS_FF_RELEASE // 0x00000000L // Release build
#endif  // _DEBUG
 // Windows NT
 FILEOS VOS_NT_WINDOWS32 // 0x00040004L (Windows NT and later)
 FILETYPE VFT_DLL // 0x00000002L // .DLL type
 FILESUBTYPE VFT2_UNKNOWN // 0x00000000L // Only used with drivers
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0" // English Unicode
        BEGIN
            VALUE "Comments", COMMENTS
            VALUE "CompanyName", COMPANYNAME
            VALUE "FileDescription", FILE_DESCRIPT
            VALUE "FileVersion", OSINFO_VERSION_STRING
            VALUE "InternalName", INTERNAL_NAME
            VALUE "LegalCopyright", LEGAL_COPYRIGHT
            VALUE "LegalTrademarks", TRADEMARKS
            VALUE "OriginalFilename", ORIG_FILENAME
            VALUE "ProductName", PRODUCT_NAME
            VALUE "ProductVersion", OSINFO_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
